<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auditorium</title>
    <link rel="stylesheet" href="./world_2.css">
    <style> 
        body { 
            overflow: hidden;
            margin: 0;
        }
    </style>
</head>
<body>
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@0.160.0/build/three.module.js",
                "three/": "https://cdn.jsdelivr.net/npm/three@0.160.0/"
            }
        }
    </script>
    <script type="module" src="./world_2.js"></script>
    <canvas id="world_2"></canvas>
</body>
</html>
